.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_IMG {
    width: 80px;
    height: auto;
    margin-top: 20px;
}
h1 {
    font-size: 20px;
    text-align: center;
}
.username {
    margin-top: 5px;
}
.points {
    margin-top: 0px;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.student-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90px;
    border-radius: 10px;
}
.student-info p {
    margin-bottom: 10px;
    font-size: 16px;
}
.completed-books {
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.books-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.books-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-cover {
    width: 150px;
    height: 200px;
}
.book-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.book-author {
    font-size: 12px;
}
.inventory {
    max-height: 600px;
    background-color: #f2f2f2;
    border-radius: 10px;
    flex-grow: 1;
}
.inventory-items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.inventory-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #D8D8D8;
    width: 150px;
}
.item-photo {
    width: 100px;
    height: 100px;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}